:root.theme-dark {
  --bg-color: #000028;
  --title-decor-color: #000028;
  --content__section-title-color: rgb(255 0 112);
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: rgb(255 0 112);
  --title-color: #db00ff;
  --main-font-color: #f1b2ce;
  --hover-border-color: rgb(255 0 112 / 0.4);
  --decor-color: rgb(255 0 112);
  --button-color: rgb(255 0 112);
}

@media (prefers-color-scheme: dark) {
  
  .header__decorative-inscription {
    display: block;
  }
}

.theme-dark .header__decorative-inscription {
  display: block;
}
