:root.theme-light {
  --bg-color: #fff1f7;
  --title-decor-color: #353430;
  --content__section-title-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --main-font-color: #353430;
  --hover-border-color: rgba(50 49 45/ 0.4);
  --button-color: #353430;
  --decor-color: #353430;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-decor-color: #353430;
    --content__section-title-color: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --main-font-color: #353430;
    --decor-color: #353430;
    --hover-border-color: rgba(50 49 45/ 0.4);
    --button-color: #353430;

  }

  .header__decorative-inscription {
    display: none;
  }
}

.theme-light .header__decorative-inscription {
  display: none;
}
